### Composer template
composer.phar
/vendor/

### Phalcon template
/cache/
/config/config.php

# PhpStorm
.idea
local

## cache directory
app/cache

## app logs
app/*.log

## Composer dir
app/library
composer.lock