# Created by .ignore support plugin (hsz.mobi)
### Composer template
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
### Phalcon template
/cache/
/config/development/

# PhpStorm
.idea
local

## abstract pattern (internal)
app/models/phalconmerce/popo/abstracts/Abstract____pattern.php